<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>photo album</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>
<body>
<div id="app" class="container">
	<div class="row">
		<files-input></files-input>
	</div>
</div>

<script src="/assets/js/vue2.4.2.js"></script>
<script src="/assets/js/FilesInputComponent.js"></script>
<script src="/assets/js/main.js"></script>
</body>
</html>